* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 90%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo {
    width: 300px;
    height: 110px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links li {
    list-style: none;
    display: inline-block;
    margin: 0 10px; /* Reduced the margin */
    position: relative;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.nav-links li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #daa520;    
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.nav-links li:hover::after {
    width: 100%;
}

.navbar-menu-toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 70px;
    margin-top: 80px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.buttons, .side-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #daa520;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span {
    background-color: #daa520;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}

/* Media Queries */

@media screen and (max-width: 1024px) {
    .content h1 {
        font-size: 50px;
    }

    .content p {
        font-size: 16px;
        line-height: 20px;
    }

    .logo {
        width: 200px;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .content h1 {
        font-size: 40px;
    }

    .content p {
        font-size: 14px;
    }

    button {
        width: 150px;
        padding: 10px 0;
    }
}

@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        width: 30%;
        height:80vh;
        background: rgba(1, 1, 1, 0.8);
        position: fixed;
        top: 0;
        right: 0;
        transition: transform 0.8s ease-in-out;
        transform: translateX(100%);
        padding-top: 80px;
    }
    .nav-links.active {
        display: flex;
        transform: translateX(0);
    }

    .navbar-menu-toggle {
        display: block;
        position: relative;
        z-index: 1;
    }

    .nav-links li {
        margin: 20px 0;
    }

    .side-button {
        margin: 20px 0;
    }

    .content h1 {
        font-size: 30px;
    }

    .content p {
        font-size: 12px;
    }

    button {
        width: 120px;
        padding: 8px 0;
    }

    .logo {
        width: 150px;
        height: auto;
    }
}

@media screen and (max-width: 400px) {
    .content h1 {
        font-size: 25px;
    }

    .content p {
        font-size: 10px;
    }

    button {
        width: 100px;
        padding: 5px 0;
    }
}
